---
import Page from "../layouts/Page.astro";
---

<Page title="About LSQ" description="About LSQ">
  <main>
    <h1 class="text-4xl font-sans">About LSQ</h1>
    <div class="mt-3 mb-6 border-b-subfooter border-lsq-orange w-24"></div>
    <p class="mb-2">The on-going mission of <em>Luna Station Quarterly</em> is to display the vast and varied talents of female speculative fiction writers.</p>
    <p class="mb-2">This idea was conceived by founding editor, Jennifer Parsons, after spending a year or so in the trenches of the <em>Star Wars</em> fan fiction community and being exposed to the particular and unique writing styles of the women and girls who posted there.</p>
    <p class="mb-2">Later departing from the community to write original fiction, Jennifer became aware of the apparent lack of support for the short story format within the literary community and the particular lack of exposure of new female writers in general within speculative fiction.</p>
    <p class="mb-2">After tickling at Jennifer's brain for a few years, the time became right for this concept to come to fruition, and the result is the site you are reading now.</p>
    <p class="mb-2">We hope you enjoy the stories within. Please be sure to check out our <a href="/authors">author profiles</a> to learn where you can read more of their work.</p>
    <p class="mb-2">If you have any thoughts you'd like to share about the site, please feel free to use the <a href="/contact-us">contact form</a> and let us know what you think!</p>
  </main>
</Page>
