---
import Page from "../layouts/Page.astro";
---

<Page title="Taking a stand, making some changes" description="A summary of the big changes we made in 2024">
  <h1 class="font-sans antialiased font-normal mb-0">Taking a stand, making some changes</h1>
  <p class="uppercase text-xs">
    <a href="authors/jennifer-lyn-parsons" class="no-underline">Jennifer Lyn Parsons</a>
  </p>
  <div class="mt-3 mb-6 border-b-subfooter border-lsq-orange w-20"></div>

  <div class="p-4 bg-lsq-gray-light border-l-4 mb-10" role="alert">
    <h1 class="font-sans text-lg">The tl;dr</h1>
    <div class="text-sm">
      <p>We're rebuilding our website with purpose! Some content may be missing from our archives.</p>
      <p>Our goal: Protect our authors and respect their work. Touch grass, not algorithms. Be human.</p>
    </div>
  </div>
  <p>Like many folks, I've been thinking about AI, specifically generative AI, a lot for a while now. As a software engineer, I'm decently well-informed on the guts of how AI works. As an author and publisher, I'm doing my best to stay on top of the impact AI is having on our world, with a focus on how creative people are being considered and the damage being caused to them and their work.</p>

  <p>Many of you will remember when Clarkesworld had to close their submissions in 2023 due to the massive influx of AI-generated stories. When that happened, one of our editors went into ChatGPT and asked it to generate an LSQ story. While amateurish and something we would have definitely rejected, the story had the themes and focus we've come to expect from our entries and the stories we publish. Our site had clearly been scraped for training fodder for ChatGPT.</p>

  <p>That was not okay and we took it as a call for action. We had to do something to not only prevent AI-generated submissions, but to protect our authors' hard work, their blood, sweat and tears, from being scraped up by whatever AI crawler decided to come by.</p>

  <p>When I decided to rebuild this website into a new, sleeker platform that I could manage more easily and with less targets for a hacker to attack, a solution to the AI problem presented itself as well.</p>

  <p>What if we just didn't put the stories back up on the website? What if we stopped feeding the AI scrapers? What would the impacts be? What could we maybe gain from this for our authors?</p>

  <p>There were a number of other benefits to taking down our archive of stories and we took them into consideration too and found that they outweighed any detriments we could find.</p>

  <p>So, we decided to take a stand in favor of our authors and are indeed no longer publishing our stories online.</p>

  <p>Honestly? This is something that we've talked about doing for years now. We felt our authors deserve to be eligible for awards that they haven't been before because their work is published online. We also wanted to grow LSQ financially so we could increase our author payments and provide more material support to the emerging authors that grace our pages. Giving work away for free hasn't helped us accomplish either of these things. And oh geez, we did not want to put up a paywall or add advertising to the site. Those options were a hard no and wouldn't give our authors that vital protection we were seeking anyway.</p>

  <p>In short, this change is being put in place to support both our authors and set the stage for LSQ's long-term future. Our mission remains the same: support women-identified authors. The way we're doing that is just changing a bit so we continue to make sure we're focusing on people and not machines.</p>

  <p>We want to protect our people so they can write the stories they want to tell and treat their work with the respect they deserve. We want to emphasize real connections, not social media fly-bys. We hold onto physical media when possible. Touch grass not algorithms. Be authentic to who you are. Be human.</p>

  <p>This new era of Luna Station is all about people. One community this is about our editors and staff. We're the people that make this thing and we're building those connections behind the scenes. Around that is a community of people who trust us with their stories. Our authors mean the world to us and we're honored to publish every one of them. And circling them is the community of you, of all who read our stories and connect with us. We're so grateful to you all for your support. We have concentric rings of community here at LSQ, building a foundation that powers this station and takes us into the worlds of imagination. Let's build them up and help them soar.</p>

  <p class="font-bold">Oh and also? Fuck generative AI.</p>

  <h2 class="font-sans antialiased font-normal mb-0">Issue publication changes</h2>
  <div class="mt-3 mb-6 border-b-subfooter border-lsq-orange w-20"></div>
  <h3 class="font-sans antialiased font-normal mb-0">(The what) I need you to know</h3>
  <ul>
    <li>We have be lowered the price of our ebooks to $2.99 on platforms that allow it</li>
    <li>We have raised our author payment to $10</li>
    <li>We will be re-releasing all issues with cleaned up, accessible formatting</li>
    <li>We will be producing omnibus editions of the first 5 years in print for the first time</li>
  </ul>
  <h3 class="font-sans antialiased font-normal mb-0">(The why) These changes are happening right now because</h3>
  <ul>
    <li>When everyone else is raising prices, we wanted to do something to make our issues more accessible</li>
    <li>I've been wanting to clean up our issues for a very long time. My skills, accessibility knowledge, and the tech I used to create each issue have all evolved over the years.</li>
    <li>We've also wanted to do print editions of the first 5 years for ages. A great way to celebrate year 15, right?</li>
  </ul>
  <h3 class="font-sans antialiased font-normal mb-0">(The who and how) This will impact</h3>
  <ul>
    <li>By lowering the price of our digital editions, we hope to close the gap left by removing the stories from our website</li>
    <li>We'll be able to talk about each issue from the beginning and reintroduce everyone to LSQ</li>
    <li>Did I mention we've been wanting to do print editions of the first 5 years for like forever?</li>
  </ul>
  <h3 class="font-sans antialiased font-normal mb-0">(The when) The timeline for this change is</h3>
  <ul>
    <li>The March issue launched with our new pricing in place</li>
    <li>As I complete the clean up of each archive issue, that will be released as well. I'm still working out a sustainable release schedule.</li>
  </ul>

  <h2 class="font-sans antialiased font-normal mb-0">Changes to the website</h2>
  <div class="mt-3 mb-6 border-b-subfooter border-lsq-orange w-20"></div>
  <h3 class="font-sans antialiased font-normal mb-0">(The what) I need you to know</h3>
  <ul>
    <li>We will no longer be hosting stories for free on the website</li>
    <li>The blog will now be exclusively for news and updates</li>
    <li>We're still determining what to do with the blog archive</li>
  </ul>
  <h3 class="font-sans antialiased font-normal mb-0">(The why) These changes are happening right now because</h3>
  <ul>
    <li>First and foremost, generative AI web scraping has left us with little other alternative to protect our authors</li>
    <li>We think LSQ and its stories are valuable and this is a move we've talked about for years as a path to getting more financial support so we can more fairly compensate our amazing authors and grow LSQ</li>
    <li>The website rebuild is a perfect time to make many of these changes simultaneously while creating a system that's easier for me to maintain on my own</li>
  </ul>
  <h3 class="font-sans antialiased font-normal mb-0">(The who and how) This will impact</h3>
  <ul>
    <li>This is going to impact our readership for sure as well as our authors who would like to link folks directly to their stories. We also have a number of folks who list us in their various directories. Review copies will be made available to these folks and anyone else who requests one in exchange for review</li>
    <li>This makes us eligible for some awards we haven't been able to be nominated for before!</li>
  </ul>
  <h3 class="font-sans antialiased font-normal mb-0">(The when) The timeline for this change is</h3>
  <ul>
    <li>Work has already begun</li>
    <li>The rest of the rebuilt site will go up as each portion is complete. Yay iterative software development!</li>
  </ul>

  <h2 class="font-sans antialiased font-normal mb-0">Community and connection changes</h2>
  <div class="mt-3 mb-6 border-b-subfooter border-lsq-orange w-20"></div>
  <h3 class="font-sans antialiased font-normal mb-0">(The what) I need you to know</h3>
  <ul>
    <li>I have already increased my presence on Patreon, and having a great time doing it! This will be our main social hub going forward, with smaller updates across social media and our newsletter</li>
    <li>We will be working on tabling and attending cons and fests throughout 2024-2025</li>
    <li>We will be creating merch (as Patreon benefits and for tabling)</li>
  </ul>
  <h3 class="font-sans antialiased font-normal mb-0">(The why) These changes are happening right now because</h3>
  <ul>
    <li>Social media is a void and connecting with our community is more important to me than playing that game</li>
    <li>Patreon is doubling-down on supporting creators of all kinds as individuals, not just as people who produce "content". I genuinely believe in that</li>
    <li>Creative Director Tara Lindsey has wanted to get us tabling at zine fairs for years now and I'm finally agreeing to it. :D</li>
  </ul>
  <h3 class="font-sans antialiased font-normal mb-0">(The who and how) This will impact</h3>
  <ul>
    <li>I've already been noticing an uptick in followers here on Patreon from the small changes I've made so far. I'm hoping this will continue as our presence here continues to evolve. This is one of my favorite parts of this change!</li>
  </ul>
  <h3 class="font-sans antialiased font-normal mb-0">(The when) The timeline for this change is</h3>
  <ul>
    <li>As mentioned earlier, I've already been engaging folks more on Patreon (it's basically my personal blog at this point). That will continue to grow and evolve</li>
    <li>The process of figuring out how and where to table at cons is just beginning. Once the website is in better shape, I'll be diving into this in more detail. If anyone has resources and advice, I'd love to hear about it</li>
  </ul>

  <h2 class="font-sans antialiased font-normal mb-0">If you've read this far...</h2>
  <div class="mt-3 mb-6 border-b-subfooter border-lsq-orange w-20"></div>
  <p>Thank you for taking the time to read all this! There are a lot of important details and hopefully I've covered your questions, but if not, please do reach out via our <a href="/contact">contact form</a>.</p>
</Page>
