---
import Page from "../layouts/Page.astro";
import PageTitle from "../components/PageTitle.astro";
import LinkButton from "../components/LinkButton.astro";
---

<Page title="Submissions" description="Submissions">
  <PageTitle title="Submissions" />

  <h3 class="font-normal font-sans text-2xl m-0 pb-7">We're currently closed for submissions. Our submission period opens on March 15th.</h3>
  <div class="p-4 bg-lsq-alert border-l-4 mb-10" role="alert">
    <h2 class="mt-0 font-sans text-lg capitalize text-lsq-orange">Our AI policy</h2>
    <div>
      <p>Our policy on the use of generative AI is very simple: we do not and will never accept work that was written using AI.</p>
    </div>
  </div>
  <h2 class="font-normal font-sans text-3xl m-0 pb-7">Criteria</h2>
  <p>Luna Station Quarterly publishes speculative fiction written by women-identified authors. We think women write awesome characters and really cool stories and we want to show it to the world. We will consider stories submitted by any woman writer, regardless of experience or writing resume. If you consider yourself on the woman end of the gender spectrum in any significant capacity, you&apos;re welcome here!</p>

  <h2 class="font-normal font-sans text-3xl m-0 pb-7">Basic guidelines</h2>
  <dl>
    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal font-sans m-0 p-0 my-2 w-1/3">Word limit</dt>
      <dd class="font-normal m-0 p-0 my-2 w-2/3">500 - 7000, no exceptions</dd>
    </div>
    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal font-sans m-0 p-0 my-2 w-1/3">Payment</dt>
      <dd class="font-normal m-0 p-0 my-2 w-2/3">$10 USD, via Paypal</dd>
    </div>
    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal font-sans m-0 p-0 my-2 w-1/3">Genre</dt>
      <dd class="font-normal m-0 p-0 my-2 w-2/3">Science fiction and fantasy short fiction. No horror, but dark SF/F is permitted.</dd>
    </div>
    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal font-sans m-0 p-0 my-2 w-1/3">Language</dt>
      <dd class="font-normal m-0 p-0 my-2 w-2/3">English, translations accepted</dd>
    </div>
    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal font-sans m-0 p-0 my-2 w-1/3">Simultaneous submissions</dt>
      <dd class="font-normal m-0 p-0 my-2 w-2/3">None accepted</dd>
    </div>
    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal font-sans m-0 p-0 my-2 w-1/3">Reprints</dt>
      <dd class="font-normal m-0 p-0 my-2 w-2/3">None accepted</dd>
    </div>
    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal font-sans m-0 p-0 my-2 w-1/3">Multiple submissions</dt>
      <dd class="font-normal m-0 p-0 my-2 w-2/3">None accepted. One submission per period.</dd>
    </div>
    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal font-sans m-0 p-0 my-2 w-1/3">Rights</dt>
      <dd class="font-normal m-0 p-0 my-2 w-2/3">First electronic rights, prefer 3 month exclusivity. Non-exclusive anthology rights for future "Best of Luna Station Quarterly" anthologies.</dd>
    </div>
  </dl>

  <h3 class="font-normal font-sans text-2xl m-0 pb-7">Important details</h3>
  <p>Our response time varies, but you will hear from us no later then one month before publication.</p>

  <h3 class="font-normal font-sans text-2xl m-0 pb-7">Deadlines</h3>
  <p>Luna Station Quarterly is published once a quarter, and has the following schedule:</p>
  <dl>
    <div class="inline-flex w-full m-0 mb-4 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal font-sans text-lg m-0 mt-2 p-0 w-1/3">Publication Date</dt>
      <dd class="font-normal font-sans text-lg m-0 mt-2 p-0 w-2/3">Submission Dates</dd>
    </div>

    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal m-0 p-0 my-2 w-1/3">March 1st</dt>
      <dd class="font-normal m-0 p-0 my-2 w-2/3">September 15th &#45; November 15th</dd>
    </div>

    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal m-0 my-2 p-0 w-1/3">June 1st</dt>
      <dd class="font-normal m-0 my-2 p-0 w-2/3">December 15th &#45; February 15th</dd>
    </div>

    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal m-0 my-2 p-0 w-1/3">September 1st</dt>
      <dd class="font-normal m-0 my-2 p-0 w-2/3">March 15th &#45; May 15th</dd>
    </div>

    <div class="inline-flex w-full m-0 border-t-definition-list border-lsq-gray-light">
      <dt class="font-normal m-0 my-2 p-0 w-1/3">December 1st</dt>
      <dd class="font-normal m-0 my-2 p-0 w-2/3">June 15th &#45; August 15th</dd>
    </div>
  </dl>

  <hr />

  <h2 class="font-normal font-sans text-3xl m-0 pb-7">Full guidelines</h2>

  <h3 class="font-normal font-sans text-2xl m-0 pb-7">Stuff we want:</h3>
  <ul class="marker:text-lsq-black">
    <li>Stories about hope</li>
    <li>Fantasy</li>
    <li>Science Fiction</li>
    <li>Space Opera</li>
    <li>New Fairy Tales (<strong>not retellings</strong>)</li>
    <li>Some creepiness</li>
    <li>Stories that explore the nooks and crannies of an original world</li>
    <li>Big events from the everyman perspective</li>
    <li>Unique settings and storytelling forms</li>
    <li>Well written stories with strong characters</li>
  </ul>

  <h3 class="font-normal font-sans text-2xl m-0 pb-7">Stuff we don&apos;t want:</h3>
  <ul class="marker:text-lsq-black">
    <li>
      Extreme gore or sexual content, in particular <strong>no explicit rape or sexual assault</strong>. (everything in moderation)
    </li>
    <li>The first chapter of a novel</li>
    <li>Bizarro fiction</li>
    <li>Poetry</li>
    <li>Plays</li>
    <li>Fan Fiction (original stories only, please)</li>
    <li>Bad grammar/punctuation (<strong>please proofread and watch your sentence structure!</strong>)</li>
    <li>Plagiarism</li>
  </ul>

  <p>
    <strong>A further note about sex and violence in submissions.</strong>
    <br />
    Science fiction has a long-standing tradition of pushing boundaries and asking difficult questions. It is meant to challenge us and ask us to look at ourselves and how we treat each other and the world around us. That said, LSQ is centered on uplift and so any story that contains explicit sexual situations or violence especially toward women will be considered more carefully than other stories and the content must be justified within the story&apos;s plot.
  </p>

  <h3 class="font-normal font-sans text-2xl m-0 pb-7">Reprints & Multiple submissions</h3>

  <p>Reprints are not considered.</p>

  <p>Multiple submissions are not considered. One submission per period.</p>

  <h3 class="font-normal font-sans text-2xl m-0 pb-7">Response Time</h3>
  <p>Our response time varies, but you will hear from us no later then one month before publication.</p>
  <p>
    Feel free to contact us (via the
    <a href="/contact-us">contact form</a>) if you have any issues with our submission manager.
  </p>
  <p>If your story is accepted, you will receive an email that includes the publication date and a short, simple contract. This must be returned before publication or your story will not be published.</p>

  <h3 class="font-normal font-sans text-2xl m-0 pb-7">Rights</h3>
  <p>
    <strong>Copyright remains yours at all times.</strong>
    We simply ask for the right to publish your story in the ebook (epub, mobi, pdf) and print editions of Luna Station Quarterly, as well as permission to reprint it in any future "best of" anthologies. If you want us to remove a story from our archive, please write us via the
    <a href="/contact-us">contact form</a>
    to let us know.
  </p>

  <h3 class="font-normal font-sans text-2xl m-0 pb-7">Final Notes</h3>
  <p>
    We reserve the right to change the submission process between issues. If you have any futher questions regarding this process, please use the
    <a href="/contact-us">contact form</a>
    to get in touch.
  </p>

  <LinkButton url="https://duotrope.com/duosuma/submit/luna-station-quarterly-ehWK6" linkText="Submit Your Story" />
</Page>
