---
const today = new Date();
---

<footer class="container bg-lsq-green border-t-footer border-lsq-orange w-full flex flex-row flex-grow overflow-hidden h-40 font-serif items-center">
  <div class="w-full flex-grow p-3 overflow-auto">
    <p class="text-center">&copy; {today.getFullYear()} Luna Station Quarterly and its authors. All rights reserved.</p>
  </div>
</footer>
