---
const today = new Date();
---

<footer class="container w-full flex flex-col sm:flex-row flex-grow overflow-hidden mt-10 mb-20 font-serif max-w-2xl">
  <div class="w-full h-full flex-grow p-3 overflow-auto">
    <p class="text-center">&copy; {today.getFullYear()} Luna Station Quarterly and its authors. All rights reserved.</p>
  </div>
</footer>
