---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<header>
  <div
    id="headerHero"
    class="bg-header flex justify-center py-10 text-center bg-no-repeat bg-cover bg-center border-t-header"
  >
    <div>
      <h1 class="text-6xl uppercase font-bold text-white">
        <a href="/" class="text-lsq-white hover:text-lsq-orange">{SITE_TITLE}</a>
      </h1>
      <h2 class="text-sm font-serif uppercase pt-2">{SITE_DESCRIPTION}</h2>
    </div>
  </div>
</header>
