---
const { linkText } = Astro.props;
---

<div class="inline-block mt-2 items-center bg-lsq-gray-dark text-lsq-white py-2 px-4 rounded focus:outline-none focus:ring font-sans not-prose uppercase">
  {linkText}
</div>
