---
const { url, linkText } = Astro.props;
---

<a
  href={url}
  class="inline-block mt-2 items-center bg-lsq-orange hover:bg-lsq-green hover:duration-500 text-lsq-white hover:text-lsq-white py-2 px-4 rounded focus:outline-none focus:ring focus:ring-lsq-orange-light no-underline font-sans not-prose uppercase"
>
  {linkText}
</a>
