---
const { type } = Astro.props;
---

<div class="not-prose p-4 bg-lsq-alert border-l-4 text-lsq-orange" role="alert">
  <h1 class="font-sans text-lg capitalize">This {type} is under construction</h1>
  <p>Some of the content may be missing. Thank you for your patience!</p>
</div>
